<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.huation.myweb.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.huation.myweb.vo.NBoardVO" alias="NBoardVO" />
		<typeAlias type="com.huation.myweb.vo.UploadFileVO" alias="UploadFileVO" />
		<typeAlias type="com.huation.myweb.vo.NBoardCommentVO" alias="NBoardCommentVO" />
		<typeAlias type="com.huation.myweb.vo.ABoardVO" alias="ABoardVO" />
		<typeAlias type="com.huation.myweb.vo.ABoardCommentVO" alias="ABoardCommentVO" />
		<typeAlias type="com.huation.myweb.vo.ChartVO" alias="ChartVO" />
	</typeAliases>
	
</configuration>