<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huation.myweb.mapper.ChartMapper">

	<select id="selectCountNBoardByRegDate" resultType="ChartVO">
		SELECT COUNT(*) as date_count, TO_CHAR(reg_date, 'YYYY-MM-DD') as reg_date
		FROM nboard
		WHERE reg_date >= '2020-07-31' AND reg_date <![CDATA[ < TO_CHAR(sysdate, 'YYYY-MM-DD') ]]>
		GROUP BY TO_CHAR(reg_date, 'YYYY-MM-DD')
		ORDER BY reg_date
	</select>

</mapper>